**Control** **Flows**

**if/elif/else **    *be careful to respect the indentation depth **bold text**.*

In [1]:
if 2**2 == 4:
  print('Its so Obvious!')

Its so Obvious!

In [0]:
a = 10

In [3]:
if a == 1:
  print(1)
elif a == 2:
  print(2)
else:
  print('A lot')

A lot

for/**range**

In [4]:
range(4)

range(0, 4)

In [5]:
for i in range(4):
  print(i)

0
1
2
3

In [6]:
for word in ('cool', 'awesome', 'crazy'):
  print('Life is %s' % word)

Life is cool
Life is awesome
Life is crazy

In [8]:
a = [1, 0, 2, 4]
for element in a:
  if element == 0:
    continue
  print(1 / element)

1.0
0.5
0.25

In [9]:
b = [1, 2, 3]
2 in b

True

In [10]:
5 in b

False

In [11]:
1 == 1

True

Iterate over any sequence You can iterate over any sequence (string, list, keys in a dictionary, lines in a file,

In [12]:
vowels = 'aeiouy'
for i in 'powerful':
    if i in vowels:
      print(i)

o
e
u

In [13]:
message = "Hello how are you?"
message.split() # returns a list

['Hello', 'how', 'are', 'you?']

In [14]:
for word in message.split():
  print(word)

Hello
how
are
you?

*Few languages (in particular, languages for scientific computing) allow to loop over anything but integers/
indices. With Python it is possible to loop exactly over the objects of interest without bothering with indices
you often donâ€™t care about. *

In [16]:
#in other langugages
words = ('cool', 'powerful', 'readable')
print(len(words))
for i in range(0, len(words)):
  print((i, words[i]))

3
(0, 'cool')
(1, 'powerful')
(2, 'readable')

In [0]:
#in python we have enumaration

In [17]:
for index, item in enumerate(words):
  print((index, item))

(0, 'cool')
(1, 'powerful')
(2, 'readable')

In [19]:
for item in enumerate(words):
  print(item)

(0, 'cool')
(1, 'powerful')
(2, 'readable')

**Looping over a** **dictionary**

In [20]:
d = {'a': 1, 'b':1.2, 'c':1j}
for key, val in sorted(d.items()):
  print('Key: %s has value: %s' % (key, val))

Key: a has value: 1
Key: b has value: 1.2
Key: c has value: 1j

**Lamdba** functions  lambda function is a way to create small anonymous functions, i.e. functions without a name
The general syntax of a lambda function is quite simple: 

lambda argument_list: expression 
The argument list consists of a comma separated list of arguments and the expression is an arithmetic expression using these arguments

In [34]:
f = lambda x, y : x + y
f(1,1)

2

The advantage of the lambda operator can be seen when it is used in combination with the map() function.
map() is a function with two arguments

r =** map**(function, seqeuence)

In [40]:
Celsius = [39.2, 36.5, 37.3, 37.8]
Celsius

[39.2, 36.5, 37.3, 37.8]

In [53]:
Fahrenheit = map(lambda x: (float(9)/5)*x + 32, Celsius)
Fah =list(Fahrenheit)
Fah

[102.56, 97.7, 99.14, 100.03999999999999]

In [54]:
 C = map(lambda x: (float(5)/9)*(x-32), Fah)
 list(C)

[39.2, 36.5, 37.300000000000004, 37.8]

In [58]:
a = [1,2,3,4]
b = [17,12,11,10]
c = [-1,-4,5,9]
x = list(map(lambda x,y:x+y, a,b))
print(x)
y = list(map(lambda x,y,z:x+y+z, a,b,c))
print(y)

[18, 14, 14, 14]
[17, 10, 19, 23]

**Filtering ** The function filter(function, list) offers an elegant way to filter out all the elements of a list

In [60]:
fib = [0,1,1,2,3,5,8,13,21,34,55]
result = list(filter(lambda x: x % 2, fib))
print(result)

[1, 1, 3, 5, 13, 21, 55]

In [61]:
result2 = list(filter(lambda x: x % 2 == 0, fib))
print(result2)

[0, 2, 8, 34]

**Reduce** : Reducing a List! (https://drive.google.com/open?id=1eGxEaAzlf2T6JjWIM1wQZhejjg90y86i)

In [68]:
import functools
functools.reduce(lambda x,y: x+y, [47,11,42,13])

113

In [67]:
import functools
def add(x,y): return x+y
functools.reduce(add, range(1, 11))

55

**List Comprehensions**   List comprehensions provide a concise way to create lists

In [21]:
print(range(4))
[i**2 for i in range(4)]

range(0, 4)

[0, 1, 4, 9]

In [70]:
#lets do the square without list comprehensions
numbers = [1, 2, 3, 4]
squares = []
for n in numbers:
  squares.append(n**2)
print(squares)

[1, 4, 9, 16]

In [71]:
number1s = [1, 2, 3, 4]
square1s = [n**2 for n in number1s]
print(square1s)

[1, 4, 9, 16]

In [30]:
x = (x **2 for x in range(20))
print(x)
list(x)

<generator object <genexpr> at 0x7f32e0c4b048>

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361]

In [31]:
x = [x **2 for x in range(20)]
x

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361]

In [33]:
noprimes = [j for i in range(2, 8) for j in range(i*2, 100, i)]
primes = [x for x in range(2, 100) if x not in noprimes]
primes

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]